@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <img src="~/lib/nba-logo.jpg" class="icon" alt="NBA Logo" />
        <span class="title-text">Welcome to the NBA</span>
    </h1>
</div>

<div class="text-left-container">
    <div class="text-left">
        <br />
        <br />
        <h3>My Favorite Parts of the NBA</h3>
        <img src="~/lib/nbaDunk.jpg" class="image" alt="NBA Dunk" />
        <p>
            The NBA's excitement is unparalleled, drawing you into a whirlwind of fast-paced action, incredible athleticism, and jaw-dropping moments that keep you on the edge of your seat.
            Each game is a dynamic display of skill and strategy, as teams battle it out with precision passing, powerful dunks, and clutch shots.
            The energy in the arena is palpable, with fans cheering passionately and creating an electrifying atmosphere.
            The thrill of watching your favorite players perform amazing feats and witnessing last-second buzzer-beaters adds a layer of drama and suspense that few sports can match.
        </p>
		<img src="~/lib/international-players-graphic.jpg" class="image" alt="international"/>
        <p>
            Moreover, the NBA is more than just the game itself; it's a cultural phenomenon that brings people together. 
            From the iconic rivalries to the inspiring stories of players overcoming adversity, the league offers a rich narrative that resonates with fans around the world. 
            The sense of community among fans, whether in person or through social media, amplifies the excitement, making every game a shared experience. 
            The NBA's global reach and influence also mean you can connect with fellow enthusiasts from diverse backgrounds, all united by a common love for the sport. 
            This combination of exhilarating gameplay and a vibrant, inclusive fan base creates an unmatched level of excitement that you won't find anywhere else.
        </p>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Caleb Nimmer. All rights reserved.</p>
            <p>Built by Caleb Nimmer</p>
        </div>
    </footer>
</div>





